<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="RiseAPITestSuite">
	<listeners>

		<listener class-name="com.utilites.RiseApi.ListenerTest" />

	</listeners>
	<test name="SmokeTest">

		<classes>
			<class name="com.Login.RiseApi.LoginApisTest" />

		</classes>
	</test> <!-- Test -->
</suite> <!-- Suite -->